    <main id="main">
      <div class="grid padding-top">
        <div class="page-title-container">
          <h1 class="page-title">
            <span class="nc-min-icon nc-min-recruiters"></span>
            <span>Cadastrar Vaga</span>
          </h1>
        </div>
        <% if @company.user_id == current_user.id %>
        <%= form_for @job, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <div class="row">
              <div class="col-6 col-left padding-right">
                <legend class="page-caption">Dados da Vaga</legend>

                <div class="form-input">
                  <%= f.label :job_title, "*Título da vaga" %>
                  <%= f.text_field :job_title, :required => true %>
                </div>

                <div class="row">
                  <div class="col-6 col-left padding-right">
                    <div class="form-select">
                      <%= f.label :city_id, "*Cidade" %>
                      <%= f.select :city_id, City.all.collect {|p| [ p.name, p.id ] }, :required => true %>
                    </div>
                  </div>

                  <div class="col-3 col-left padding-small-right">
                    <div class="form-input">
                      <%= f.label :salary_range, "*Faixa salarial" %>
                      <%= f.text_field :salary_range, :class => "money" %>
                    </div>
                  </div>

                  <div class="col-3 col-right padding-small-left padding-top salary_negotiable">
                    <div class="form-radio-item">
                      <%= f.label :salary_negotiable, "à combinar"%>
                      <%= f.check_box :salary_negotiable, {}, "true", "false" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-7 col-left">
                    <div class="form-select padding-small-right">
                      <%= f.label :type_contract_id, "*Contratação" %>
                      <%= f.select :type_contract_id, TypeContract.all.collect {|p| [ p.name, p.id ] }, :required => true %>
                    </div>
                  </div>

                  <div class="col-5 col-right padding-left">
                    <div class="form-input">
                      <%= f.label :time_contract, "Tempo de contrato" %>
                      <%= f.text_field :time_contract %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-7 col-left">
                    <div class="form-select padding-small-right">
                      <%= f.label :job_category_id, "*Categoria" %>
                      <%= f.select :job_category_id, JobCategory.all.collect {|p| [ p.name, p.id ] }, :required => true %>
                    </div>
                  </div>

                  <div class="col-5 col-left padding-small-left">
                    <div class="form-input">
                      <%= f.label :amount_vacancies, "*Vagas" %>
                      <%= f.number_field :amount_vacancies, :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-textarea">
                  <%= f.label :description, "Descrição da vaga" %>
                  <%= f.text_area :description, :required => true %>
                </div>

              </div>

              <div class="col-6 col-right padding-left padding-large-top">

                <div class="form-textarea">
                  <%= f.label :requirements, "Requerimentos" %>
                  <%= f.text_area :requirements, :required => true %>
                </div>

                <div class="form-textarea">
                  <%= f.label :period_of_work, "Horário de trabalho" %>
                  <%= f.text_area :period_of_work %>
                </div>

                <div class="form-textarea">
                  <%= f.label :other_information, "Outras informações" %>
                  <%= f.text_area :other_information %>
                </div>
              </div>
            </div>

            <div class="form-submit-container">
              <div class="page-vacancy-slogan margin-large-bottom">
                <div class="page-slogan">
                  <div class="page-slogan-text">
                    <p>
                      Deixe sua vaga em evidência entre as primeiras vagas do site,
                      contrate agora a nossa <a href="#">vaga premium</a>.
                    </p>
                  </div>
                </div>

                <div class="page-text">
                  <p><%=  PremiumPlan.first.description %></p>

                  <div class="page-price-container">
                    <span class="page-coin">por:</span>
                    <span class="page-price">R$ <%=  PremiumPlan.first.price %></span>
                  </div>
                </div>
              </div>

              <div class="form-radio">
                <div class="form-radio-item form-inline">
                  <label for="termos_de_uso">*li e concordo com os <%= link_to "Termos de uso", page_path("temos-de-uso")%></label>
                  <%= f.check_box :term, {:required => true}, "true", "false" %>
                </div>
              </div>

              <div class="form-radio">
                <div class="form-radio-item form-inline">
                  <label for="termos_de_uso">Deseja tornar esta vaga Premim <a href="#">Saiba mais</a></label>
                  <%= f.check_box :is_premium, {}, "true", "false" %>
                </div>
              </div>

              <div class="form-submit">
                <%= f.submit "Publicar vaga", :class => "btn btn-blue" %>
              </div>
            </div>
          </fieldset>
        <% end %>
        <% else %>
        ddddd
        <% end %>
      </div>
    </main>
