<main id="main">
    <div class="grid padding-top">
      <div class="sidebar col-4 col-left">
        <div class="vacancies vacancies-sidebar nav-active">
          <ul data-value="3" class="vacancies-list">
            <% cache do %>
            <% @jobs.each do |job|%>
                <% if job.job_premiun.try(:validate_date) && job.slug != params[:slug] %>
                    <li class="vacancies-sidebar-item vacancies-premium">
                      <section>
                        <%= link_to show_job_path(job.slug), :class => "vacancies-link" do %>
                          <h2 class="vacancies-category"><%= job.job_category.name %></h2>
                          <h1 class="vacancies-title"><%= job.job_title %></h1>
                          <p class="vacancies-enterprise">
                            <span class="fa fa-briefcase"></span> <%= job.company.corporate_name %>
                          </p>
                          <p class="vacancies-location">
                            <span class="fa fa-map-marker"></span> <%= job.company.city.name %> / <%= job.company.city.state.iso %>
                          </p>
                        <% end %>
                        <a class="vacancies-social" href="#">
                          <span class="fa fa-facebook-square"></span> Recomende esta Vaga
                        </a>
                      </section>
                    </li>
                <% end %>
            <% end %>

            <% @jobs.each do |job|%>
                <% if !job.job_premiun.try(:validate_date) && job.slug != params[:slug] %>
                    <li class="vacancies-sidebar-item">
                      <section>
                        <%= link_to show_job_path(job.slug), :class => "vacancies-link" do %>
                            <h2 class="vacancies-category"><%= job.job_category.name %></h2>
                            <h1 class="vacancies-title"><%= job.job_title %></h1>
                            <p class="vacancies-enterprise">
                              <span class="fa fa-briefcase"></span> <%= job.company.corporate_name %>
                            </p>
                            <p class="vacancies-location">
                              <span class="fa fa-map-marker"></span> <%= job.company.city.name %> / <%= job.company.city.state.iso %>
                            </p>
                        <% end %>
                        <a class="vacancies-social" href="#">
                          <span class="fa fa-facebook-square"></span> Recomende esta Vaga
                        </a>
                      </section>
                    </li>
                <% end %>
            <% end %>
            <% end %>
          </ul>
          <a id="loadMore" class="btn btn-bright-green btn-block btn-extra" href="#">Ver mais vagas</a>
        </div>
      </div>

      <div class="col-8 col-right padding-left">
        <% if !current_user.candidate.share_facebook %>
        <p class="text-center information">
          <strong>Atenção</strong>: Para se candidatar a esta vaga você deve, obrigatoriamente, compartilhar o post no facebook. Clique no botão abaixo e pague com um post.<br/><br/>
          <div class="btn-paypost">
            <div class="btn-paypost-content">
              <span class="btn btn-facebook"><span class="fa fa-facebook"></span> Pagar com um post no facebook</span>
              <iframe src="http://www.paywithapost.de/dlbutton02.php?id=2fdf2fe8-0403-4554-8c85-a3e7bea5614d" class="spaced-right" name="paytweet_button" scrolling="no" frameborder="no" height="24px" width="240px"></iframe>
            </div>
          </div>
        </p>
        <% end %>
        <article class="vacancy">
          <div class="vacancy-header margin-bottom">
            <figure class="vacancy-avatar">
              <%= image_tag @job.company.logo_marca("thumb") %>
            </figure>
            <div class="vacancy-enterprise">
              <h1 class="vacancy-enterprise-title"><%= @job.company.fancy_name %></h1>
              <ul class="vacancy-enterprise-list">
                <% if !@job.company.email.empty? %>
                <li><a href="javascript:void(0)"><span class="fa fa-file"></span> <%= @job.company.email %></a></li>
                <% end %>
                <% if !@job.company.facebook.empty? %>
                <li><a href="<%= @job.company.facebook %>"><span class="fa fa-facebook-square"></span> <%= @job.company.facebook %></a></li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="vacancy-description margin-bottom">
            <p class="vacancy-category"><%= @job.job_category.name %></p>
            <h2 class="vacancy-title"><%= @job.job_title %></h2>
            <p class="vacancy-location">
              <span class="fa fa-map-marker"></span> <%= @job.company.street %> <%= @job.company.number %> <%= @job.company.city.name %> / <%= @job.company.city.state.iso %>
            </p>

            <div class="row">
              <div class="col-3 col-left">
                <h3 class="vacancy-caption">Faixa salarial</h3>
                <div class="vacancy-text">
                  <p><%= @job.salary_range %></p>
                </div>
              </div>

              <div class="col-3 col-left">
                <h3 class="vacancy-caption">Contratação</h3>
                <div class="vacancy-text">
                  <p><%= @job.type_contract.name %></p>
                </div>
              </div>

              <div class="col-3 col-left">
                <h3 class="vacancy-caption">Vagas</h3>
                <div class="vacancy-text">
                  <p><%= @job.amount_vacancies %></p>
                </div>
              </div>

              <% if !@job.time_contract.empty? %>
              <div class="col-3 col-left">
                <h3 class="vacancy-caption">Tempo de contrato</h3>
                <div class="vacancy-text">
                  <p><%= @job.time_contract %></p>
                </div>
              </div>
              <% end %>
            </div>
          </div>

          <div class="vacancy-description margin-bottom">
            <div class="margin-bottom">
              <h3 class="vacancy-caption">Descrição</h3>
              <div class="vacancy-text">
                <p>
                  <%= @job.description.html_safe %>
                </p>
              </div>
            </div>

            <div class="margin-bottom">
              <h3 class="vacancy-caption">Requisitos</h3>
              <div class="vacancy-text">
                <%= @job.requirements.html_safe %>
              </div>
            </div>

            <% if !@job.period_of_work.empty? %>
            <div class="margin-bottom">
              <h3 class="vacancy-caption">Horário de serviço</h3>
              <div class="vacancy-text">
                <%= @job.period_of_work.html_safe %>
              </div>
            </div>
            <% end %>

            <% if !@job.other_information.empty? %>
            <div>
              <h3 class="vacancy-caption">Outras Informações</h3>
              <div class="vacancy-text">
                <p>
                  <%= @job.other_information.html_safe %>
                </p>
              </div>
            </div>
            <% end %>
          </div>

          <% if current_user.candidate.share_facebook %>
          <div class="vacancy-options">
            <% if current_user.is_candidate && @job.finish_date >= Time.now %>
              <% if @job.candidate_to_job?(current_user) %>
              <h2>Boa sorte, esta vaga já esta em sua lista</h2>
              <% else %>
              <%= link_to "Candidatar-se a Vaga", apply_for_job_path(@job.id), method: :post, :class => "btn btn-blue" %>
              <% end %>
            <% end %>
            <a class="btn btn-facebook" href="#">
              <span class="fa fa-facebook-square"></span> Recomende esta Vaga
            </a>
          </div>
          <% end %>
        </article>
      </div>
    </div>
  </main>
