<div class="featured">
  <div class="grid">
    <div class="col-6 col-left">
      <section class="featured-item">
        <span class="nc-icon nc-recruiters"></span>
        <h2 class="featured-title">
          <strong>Contratantes</strong>,
          <%= link_to "cadastre", new_contractor_path %> agora sua vaga, é
          <strong>gratuito.</strong>
        </h2>
      </section>
    </div>

    <div class="col-6 col-right last">
      <section class="featured-item">
        <span class="nc-icon nc-candidate"></span>
        <h2 class="featured-title">
          <strong>Candidatos</strong>,
          <%= link_to "cadastre", new_candidate_path %> seu currículo e
          <strong>pague com um post</strong> no facebook
        </h2>
      </section>
    </div>
  </div>
</div>

<main id="main">
  <div class="search margin-bottom">
    <div class="grid">
      <%= form_tag root_path, :method => :get, :class => "search-form" do %>
        <div class="form-input form-input-green">
          <label class="hidden" for="busca">Buscar vaga por região, empresa, descrição...</label>
          <%= text_field_tag :search, params[:search], :placeholder => "buscar vaga por região, empresa, descrição...", :required => false %>
        </div>

        <div class="form-select form-select-green">
          <label class="hidden" for="area-atuacao">Área de atuação</label>
          <% jobs_categories_array = JobCategory.all.map { |job_category| [job_category.name, job_category.name.downcase] } %>
          <%= select_tag(:category, options_for_select(jobs_categories_array, params[:category]), :include_blank => true) %>
        </div>

        <div class="search-submit">
          <%= submit_tag "Busca", :name => nil, :class => "btn btn-green btn-large" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="vacancies margin-bottom">
    <div class="grid">
      <div class="clip">
        <ul data-value="9" class="vacancies-list">
          <% @jobs.each do |job| %>
          <% premiun = job.job_premiun.try(:validate_date) ? "vacancies-premium" : "" %>
          <li class="vacancies-item <%= premiun %>">
            <section>
              <%= link_to show_job_path(job.slug), :class => "vacancies-link" do %>
                <h2 class="vacancies-category"><%= job.job_category.name %></h2>
                <h1 class="vacancies-title"><%= job.job_title %></h1>
                <p class="vacancies-enterprise">
                  <span class="fa fa-briefcase"></span> <%= job.company.corporate_name %>
                </p>
                <p class="vacancies-location">
                  <span class="fa fa-map-marker"></span> <%= job.city.name %> / <%= job.city.state.iso %>
                </p>
              <% end %>
              <a class="vacancies-social" href="#">
                <span class="fa fa-facebook-square"></span> Recomendar vaga
              </a>
            </section>
          </li>
          <% end %>
        </ul>
      </div>
      <a id="loadMore" class="btn btn-bright-green btn-block btn-extra" href="#">Veja mais vagas</a>
    </div>
  </div>
</main>
