<main id="main">
  <div class="grid padding-top">
    <section>
      <div class="page-title-container">
        <h1 class="page-title">
          <span class="nc-min-icon nc-min-candidate"></span>
          <span>Cadastro do Candidato</span>
        </h1>
      </div>

      <div class="col-5 col-center text-center">
        <div class="page-slogan">
          <div class="page-slogan-text">
            <p>
              Que tal agilizar as coisas? <br>
              Faça <a href="#">cadastro com facebook</a> e pule <br>
              essa etapa! =)
            </p>
          </div>

          <a class="btn btn-facebook" href="#">
            <span class="fa fa-facebook"></span> Cadastro com Facebook
          </a>
        </div>

        <div class="margin-bottom">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-input form-input-green">
              <%= f.label :name, :class => "hidden"%>
              <%= f.text_field :name, :required => true, autofocus: true, :placeholder => "Nome*", :id => "user_name_r" %>
            </div>

            <div class="form-input form-input-green">
              <%= f.label :email, :class => "hidden"%>
              <%= f.text_field :email, required: true, autofocus: true, :placeholder => "E-mail*", :id => "user_email_r" %>
            </div>

            <div class="form-input form-input-green">
              <%= f.label :password, :class => "hidden"%>
              <%= f.password_field :password, required: true, :placeholder => "senha*", :id => "user_password_r" %>
            </div>

            <div class="form-input form-input-green">
              <%= f.label :password_confirmation, :class => "hidden"%>
              <%= f.password_field :password_confirmation, required: true, :placeholder => "Confirmar senha*", :id => "user_password_confirmation_r" %>
            </div>

            <div class="form-rules">
              *Itens obrigatórios
            </div>

            <div class="form-submit">
              <%= f.hidden_field :is_candidate, :value => "1" %>
              <%= f.submit "Cadastrar", :class => "btn btn-blue" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</main>
