<main id="main">
  <div class="grid padding-top">
    <div class="page-title-container">
      <h1 class="page-title">
        <span class="nc-min-icon nc-min-candidate"></span> 
        <span>Currículo</span>
      </h1>
    </div>
    
    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @candidate, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <legend class="page-caption">Dados do Candidato</legend>

            <div class="form-input">
              <%= f.label :full_name, "*Nome Completo" %>
              <%= f.text_field :full_name, :required => true %>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-radio">
                  <span class="form-radio-label">*Sexo</span>
                  
                  <div class="row">
                    <div class="form-radio-item col-6 col-left padding-right">
                      <%= f.radio_button :is_male, true, :required => true %> 
                      <%= f.label :is_male, "Masculino" %>
                    </div>
                    
                    <div class="form-radio-item col-6 col-right padding-left">
                      <%= f.radio_button :is_male, false, :required => true  %> 
                      <%= f.label :is_male, "Feminino" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :birth_date, "*Data de nascimento" %>
                  <%= f.text_field :birth_date, :required => true, :class => "date", :value => @candidate.birth_date.try(:strftime,("%d/%m/%Y")), :required => true %>
                </div>
              </div>
            </div>

            <div class="form-input">
              <%= f.label :street, "Rua" %>
              <%= f.text_field :street %>
            </div>

            <div class="row">
              <div class="col-4 col-left padding-right">
                <div class="form-input">
                  <%= f.label :number, "Número" %>
                  <%= f.number_field :number, :class => "number" %>
                </div>
              </div>

              <div class="col-4 col-left">
                <div class="form-input">
                  <%= f.label :complement, "Complemento" %>
                  <%= f.text_field :complement %>
                </div>
              </div>

              <div class="col-4 col-right padding-left">
                <div class="form-input">
                  <%= f.label :suburb, "Bairro" %>
                  <%= f.text_field :suburb %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8 col-left padding-right">
                <div class="form-select">
                   <%= f.label :city_id, "*Cidade" %>
                  <%= f.select :city_id, City.all.collect {|p| [ p.name, p.id ] }, :required => true %>
                </div>
              </div>

              <div class="col-4 col-right padding-left">
                <div class="form-input">
                  <%= f.label :zip_code, "Cep" %>
                  <%= f.text_field :zip_code, :class => "cep" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :home_phone, "Telefone" %>
                  <%= f.text_field :home_phone, :class => "tel" %>
                </div>
              </div>

              <div class="col-6 col-left padding-small-left">
                <div class="form-input">
                  <%= f.label :commercial_phone, "Telefone comercial" %>
                  <%= f.text_field :commercial_phone, :class => "tel" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :mobile_phone, "Celular*" %>
                  <%= f.text_field :mobile_phone, :class => "tel", :required => true %>
                </div>
              </div>

              <div class="col-6 col-left padding-small-left">
                <div class="form-input">
                  <%= f.label :message_phone, "Telefone recado" %>
                  <%= f.text_field :message_phone, :class => "tel" %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <%= f.submit "Salvar dados do candidato", :class => "btn btn-blue" %>
          </div>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <%= form_for @candidate, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <legend class="page-caption">Objetivos Profissionais</legend>

            <div class="form-input">
              <%= f.label :position_of_interest, "Objetivo ou cargo de interesse" %>
              <%= f.text_field :position_of_interest %>
            </div>

            <div class="form-radio">
              <span class="form-radio-label">Área Profissional</span>
              
              <ul class="checkboxes_curriculum">
              <%= f.collection_check_boxes(:professional_area_ids, ProfessionalArea.all, :id, :name) do |b|%>
              <% '<li>'.html_safe << b.label { b.check_box << b.text } << '</li>'.html_safe %>
              <% end %>
              </ul>

            </div>

            <div class="form-radio">
              <span class="form-radio-label">Nível hierárquico</span>
              
              <ul class="checkboxes_curriculum">
              <%= f.collection_check_boxes(:hierarchical_level_ids, HierarchicalLevel.all, :id, :name) do |b|%>
              <% '<li>'.html_safe << b.label { b.check_box << b.text } << '</li>'.html_safe %>
              <% end %>
              </ul>

            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :last_salary, "último salário" %>
                  <%= f.text_field :last_salary, :class => "money" %>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :salary_pretension, "Pretençào salarial" %>
                  <%= f.text_field :salary_pretension, :class => "money" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-right padding-small-left">
                <div class="form-radio-item">
                  <%= f.label :salary_to_be_agreed, "à combinar?" %>
                  <%= f.check_box :salary_to_be_agreed, {}, "true", "false" %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <input class="btn btn-blue" type="submit" value="Salvar objetivo profissional">
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <form action="" class="form-curriculo">
          <fieldset>
            <legend class="page-caption">Formação Acadêmica</legend>

            <div class="form-input">
              <label for="grau_de_escolaridade">Grau de Escolaridade</label>
              <input type="text" id="grau_de_escolaridade" name="grau_de_escolaridade">
            </div>

            <div class="form-input">
              <label for="curso">Nome do curso*</label>
              <input type="text" id="curso" name="curso" >
            </div>

            <div class="form-input">
              <label for="instituicao">Nome da Instituição*</label>
              <input type="text" id="instituicao" name="instituicao" >
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <label for="data_inicio">Data de início*</label>
                  <input class="date" type="text" id="data_inicio" name="data_inicio" >
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <label for="data_conclusao">Data de conclusão*</label>
                  <input class="date" type="text" id="data_conclusao" name="data_conclusao" >
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <input class="btn btn-blue" type="submit" value="Salvar formação acadêmica">
          </div>
        </form>
      </div>
      
      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Formações acadêmicas salvas</h2>
          
          <div class="display-scroll scroll">
            <ul class="display-list">
              <% for i in (1..5) %>
              <li class="display-item">
                <section>
                  <h3 class="display-title">Curso</h3>
                  <p>Instituição</p>
                  <p>Grau de escolaridade</p>
                  <p>de 00/00/0000 à 00/00/0000</p>

                  <div class="display-btn">
                    <a class="btn btn-blue" href="#">Editar</a>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <form action="" class="form-curriculo">
          <fieldset>
            <legend class="page-caption">Cursos Extras e Eventos</legend>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <label for="nome">Nome*</label>
                  <input type="text" id="nome" name="nome" >
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <label for="local">Local*</label>
                  <input type="text" id="local" name="local" >
                </div>
              </div>
            </div>

            <div class="form-textarea">
              <label for="descricao">Descrição*</label>
              <textarea id="descricao" name="descricao" ></textarea>
            </div>

            <div class="form-submit text-center">
              <input class="btn btn-blue" type="submit" value="Salvar curso extra/evento">
            </div>
          </fieldset>
        </form>
      </div>
      
      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Cursos ou Eventos salvos</h2>
          
          <div class="display-scroll scroll">
            <ul class="display-list">
              <% for i in (1..5) %>
              <li class="display-item">
                <section>
                  <h3 class="display-title">Nome</h3>
                  <p>Local</p>
                  <p>de: 01/01/2007 à 01/01/2010</p>

                  <div class="display-text">
                    <p>
                      Descrição do curso.
                    </p>
                  </div>

                  <div class="display-btn">
                    <a class="btn btn-blue" href="#">Editar</a>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <form action="" class="form-curriculo">
          <fieldset>
            <legend class="page-caption">Idiomas</legend>

            <div class="row">
              <div class="col-7 col-left padding-small-right">
                <div class="form-input">
                  <label for="idioma">Idioma*</label>
                  <input type="text" id="idioma" name="idioma" >
                </div>
              </div>

              <div class="col-5 col-right padding-small-left">
                <div class="form-select">
                  <label for="nivel">Nível*</label>
                  <select name="nivel" id="nivel" >
                    <option value="0"></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-submit text-center">
              <input class="btn btn-blue" type="submit" value="Salvar idioma">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Idiomas Salvos</h2>
          
          <div class="display-small-scroll scroll">
            <ul class="display-list">
              <% for i in (1..5) %>
              <li class="display-item">
                <section>
                  <h3 class="display-title">Idioma</h3>
                  <p>Nível</p>
                  
                  <div class="display-btn">
                    <a class="btn btn-blue" href="#">Editar</a>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <form action="" class="form-curriculo">
          <fieldset>
            <legend class="page-caption">Experiência Profissional</legend>

            <div class="form-input">
              <label for="empresa">Empresa*</label>
              <input type="text" id="empresa" name="empresa" >
            </div>

            <div class="form-input">
              <label for="ultimo_cargo">Último Cargo*</label>
              <input type="text" id="ultimo_cargo" name="ultimo_cargo" >
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <label for="data_inicio">Data de início*</label>
                  <input class="date" type="text" id="data_inicio" name="data_inicio" >
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <label for="data_saida">Data de saída*</label>
                  <input class="date" type="text" id="data_saida" name="data_saida" >
                </div>
              </div>
            </div>

            <div class="row margin-bottom">
              <div class="col-6 col-right padding-small-left">
                <div class="form-radio-item">
                  <label for="emprego_atual">emprego atual</label>
                  <input type="checkbox" name="emprego_atual" id="emprego_atual">
                </div>
              </div>
            </div>

            <div class="form-textarea">
              <label for="funcoes">Funções*</label>
              <textarea name="funcoes" id="funcoes" placeholder="Descreva aqui suas funções no cargo." ></textarea>
            </div>

            <div class="form-submit text-center">
              <input class="btn btn-blue" type="submit" value="Salvar experiência profissional">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Idiomas Salvos</h2>
          
          <div class="display-large-scroll scroll">
            <ul class="display-list">
              <% for i in (1..5) %>
              <li class="display-item">
                <section>
                  <h3 class="display-title">Cargo</h3>
                  <p>Empresa</p>
                  <p>de 00/00/0000 à 00/00/0000</p>

                  <div class="display-text">
                    <p>
                      Descrição das funções exercidas no cargo.
                    </p>
                  </div>
                  
                  <div class="display-btn">
                    <a class="btn btn-blue" href="#">Editar</a>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <form action="">
      <fieldset class="margin-bottom">
        <legend class="page-caption">Mini Currículo*</legend>

        <div class="form-textarea">
          <label class="hidden" for="mini_curriculo">Mini Currículo</label>
          <textarea name="mini_curriculo" id="mini_curriculo" placeholder="Descreva aqui, de forma resumida, seu perfil, experiências e habilidades profissionais." ></textarea>
        </div>
      </fieldset>

      <fieldset class="margin-bottom">
        <legend class="page-caption">Nível de Confidencialidade</legend>
        
        <div class="row">
          <div class="col-6 col-left padding-right">
            <div class="form-radio-item">
              <label for="publico">público</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Sapiente cumque, in laboriosam. Blanditiis, excepturi at, 
                officia cumque laborum eligendi cupiditate, eaque, similique 
                voluptate facilis quos alias ut esse repellat sit!
              </p>
              <input type="radio" name="confidencialidade" id="publico" checked>
            </div>
          </div>

          <div class="col-6 col-right padding-left">
            <div class="form-radio-item">
              <label for="confidencial">confidencial</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Sapiente cumque, in laboriosam. Blanditiis, excepturi at, 
                officia cumque laborum eligendi cupiditate, eaque, similique 
                voluptate facilis quos alias ut esse repellat sit!
              </p>
              <input type="radio" name="confidencialidade" id="confidencial">
            </div>
          </div>
        </div>
      </fieldset>
    
      <div class="form-submit-container">
        <div class="page-slogan margin-bottom">
          <div class="page-slogan-text">
            <p>
              Muito bem, seu curriculo esta quase pronto! <br>
              Basta apenas concluir clicando no botão abaixo para <br>
              poder usufruir livremente de nossos serviços, mas <br>
              porque pagar com um post?
            </p>
            <p>
              Simples, para nos ajudar a manter nossos serviços <br>
              gratuitos. =)
            </p>
          </div>
        </div>
        
        <div class="form-radio">
          <div class="form-radio-item form-inline">
            <label for="termos_de_uso">*li e concordo com os <a href="#">termos de uso.</a></label>
            <input type="checkbox" name="termos_de_uso" id="termos_de_uso" >
          </div>
        </div>

        <button class="btn btn-facebook">
          <span class="fa fa-facebook"></span> Concluir currículo e pagar com um post
        </button>
      </div>
    </form>
  </div>
</main>