<main id="main">
  <div class="grid padding-top">
    <div class="page-title-container">
      <h1 class="page-title">
        <span class="nc-min-icon nc-min-candidate"></span>
        <span>Currículo</span>
      </h1>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @candidate, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <legend class="page-caption">Dados do Candidato</legend>

            <div class="form-input">
              <%= f.label :full_name, "*Nome Completo" %>
              <%= f.text_field :full_name, :required => true %>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-radio">
                  <span class="form-radio-label">*Sexo</span>

                  <div class="row">
                    <div class="form-radio-item col-6 col-left padding-right">
                      <%= f.radio_button :is_male, true, :required => true %>
                      <%= f.label :is_male, "Masculino" %>
                    </div>

                    <div class="form-radio-item col-6 col-right padding-left">
                      <%= f.radio_button :is_male, false, :required => true  %>
                      <%= f.label :is_male, "Feminino" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :birth_date, "*Data de nascimento" %>
                  <%= f.text_field :birth_date, :class => "date", :value => @candidate.birth_date.try(:strftime,("%d/%m/%Y")), :required => true%>
                </div>
              </div>
            </div>

            <div class="form-input">
              <%= f.label :street, "Rua" %>
              <%= f.text_field :street %>
            </div>

            <div class="row">
              <div class="col-4 col-left padding-right">
                <div class="form-input">
                  <%= f.label :number, "Número" %>
                  <%= f.number_field :number, :class => "number" %>
                </div>
              </div>

              <div class="col-4 col-left">
                <div class="form-input">
                  <%= f.label :complement, "Complemento" %>
                  <%= f.text_field :complement %>
                </div>
              </div>

              <div class="col-4 col-right padding-left">
                <div class="form-input">
                  <%= f.label :suburb, "Bairro" %>
                  <%= f.text_field :suburb %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-8 col-left padding-right">
                <div class="form-select">
                  <%= f.label :city_id, "*Cidade" %>
                  <%= f.select :city_id, City.all.collect {|p| [ p.name, p.id ] }, :required => true %>
                </div>
              </div>

              <div class="col-4 col-right padding-left">
                <div class="form-input">
                  <%= f.label :zip_code, "Cep" %>
                  <%= f.text_field :zip_code, :class => "cep" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :home_phone, "Telefone" %>
                  <%= f.text_field :home_phone, :class => "tel" %>
                </div>
              </div>

              <div class="col-6 col-left padding-small-left">
                <div class="form-input">
                  <%= f.label :commercial_phone, "Telefone comercial" %>
                  <%= f.text_field :commercial_phone, :class => "tel" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :mobile_phone, "Celular*" %>
                  <%= f.text_field :mobile_phone, :class => "tel", :required => true %>
                </div>
              </div>

              <div class="col-6 col-left padding-small-left">
                <div class="form-input">
                  <%= f.label :message_phone, "*Telefone recado" %>
                  <%= f.text_field :message_phone, :class => "tel", :required => true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-file">
                  <%= f.label :image, "Imagens" %>
                  <%= f.file_field :image %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <%= f.submit "Salvar dados do candidato", :class => "btn btn-blue" %>
          </div>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <%= form_for @candidate, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <legend class="page-caption">Objetivos Profissionais</legend>

            <div class="form-input">
              <%= f.label :position_of_interest, "Objetivo ou cargo de interesse" %>
              <%= f.text_field :position_of_interest %>
            </div>

            <div class="form-radio">
              <span class="form-radio-label">Área Profissional</span>

              <ul class="checkboxes_curriculum">
              <%= f.collection_check_boxes(:professional_area_ids, ProfessionalArea.all, :id, :name) do |b|%>
              <% '<li>'.html_safe << b.label { b.check_box << b.text } << '</li>'.html_safe %>
              <% end %>
              </ul>

            </div>

            <div class="form-radio">
              <span class="form-radio-label">Nível hierárquico</span>

              <ul class="checkboxes_curriculum">
              <%= f.collection_check_boxes(:hierarchical_level_ids, HierarchicalLevel.all, :id, :name) do |b|%>
              <% '<li>'.html_safe << b.label { b.check_box << b.text } << '</li>'.html_safe %>
              <% end %>
              </ul>

            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :last_salary, "último salário" %>
                  <%= f.text_field :last_salary, :class => "money" %>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :salary_pretension, "Pretençào salarial" %>
                  <%= f.text_field :salary_pretension, :class => "money" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-right padding-small-left">
                <div class="form-radio-item">
                  <%= f.label :salary_to_be_agreed, "à combinar?" %>
                  <%= f.check_box :salary_to_be_agreed, {}, "true", "false" %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <%= f.submit "Salvar objetivo profissional", :class => "btn btn-blue" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @academic_training, :class => 'form-curriculo' do |f| %>
          <fieldset>
            <legend class="page-caption">Formação Acadêmica</legend>

            <div class="form-select">
              <%= f.label :schooling_id, "Grau de escolaridade" %>
              <%= f.select :schooling_id, Schooling.all.collect {|p| [ p.name, p.id ] }, :required => true %>
            </div>

            <div class="form-input">
              <%= f.label :name_of_course, "Nome do curso" %>
              <%= f.text_field :name_of_course, :required => true %>
            </div>

            <div class="form-input">
              <%= f.label :institution, "Instituição" %>
              <%= f.text_field :institution, :required => true %>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :birth_date, "Data início" %>
                  <%= f.text_field :start_date, :class => "date", :value => @academic_training.start_date.try(:strftime,("%d/%m/%Y")), :required => true %>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :finish_date, "Data término" %>
                  <%= f.text_field :finish_date, :class => "date", :value => @academic_training.finish_date.try(:strftime,("%d/%m/%Y")) %>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="form-submit text-center">
            <%= f.hidden_field :id %>
            <%= f.submit "Salvar formação acadêmica", :class => "btn btn-blue" %>
          </div>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Formações acadêmicas salvas</h2>

          <div class="display-scroll scroll">
            <ul class="display-list">
              <% @candidate.academic_trainings.each do |academic_training| %>
              <li class="display-item">
                <section>
                  <h3 class="display-title"><%= academic_training.name_of_course%></h3>
                  <p><%= academic_training.institution%></p>
                  <p><%= academic_training.schooling.name %></p>
                  <p>
                    de <%= academic_training.start_date.try(:strftime,("%d/%m/%Y")) %>
                    à <%= academic_training.finish_date.try(:strftime,("%d/%m/%Y")) || "Ainda Cursando" %></p>

                  <div class="display-btn">
                    <%= link_to "Editar", edit_academic_trainings_path(academic_training.id), :class => "btn btn-blue"%>
                    <%= link_to "Excluir", destroy_academic_trainings_path(academic_training.id), :method => :delete, data: {confirm: "Deseja realmente deletar esta informação?"}, :class => "btn btn-red"%>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @extra_course, :class => 'form-curriculo', :validate => true do |f| %>
          <fieldset>
            <legend class="page-caption">Cursos Extras e Eventos</legend>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :name, "Nome do curso" %>
                  <%= f.text_field :name, :required => true %>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :local, "Local" %>
                  <%= f.text_field :local, :required => true %>
                </div>
              </div>
            </div>

            <div class="form-textarea">
              <%= f.label :description, "Descrição" %>
              <%= f.text_area :description, :required => true %>
            </div>

            <div class="form-submit text-center">
              <%= f.hidden_field :id %>
              <%= f.submit "Salvar curso extra/evento", :class => "btn btn-blue" %>
            </div>
          </fieldset>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Cursos ou Eventos salvos</h2>

          <div class="display-scroll scroll">
            <ul class="display-list">
              <% @candidate.extra_courses.each do |extra_course| %>
              <li class="display-item">
                <section>
                  <h3 class="display-title"><%= extra_course.name %></h3>
                  <p><%= extra_course.local %></p>

                  <div class="display-text">
                    <p>
                      <%= extra_course.description %>
                    </p>
                  </div>

                  <div class="display-btn">
                    <%= link_to "Editar", edit_extra_courses_path(extra_course.id), :class => "btn btn-blue"%>
                    <%= link_to "Excluir", destroy_extra_courses_path(extra_course.id), :method => :delete, data: {confirm: "Deseja realmente deletar esta informação?"}, :class => "btn btn-red"%>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @language, :class => 'form-curriculo', :validate => true do |f| %>
          <fieldset>
            <legend class="page-caption">Idiomas</legend>

            <div class="row">
              <div class="col-7 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :speech, "Idioma" %>
                  <%= f.text_field :speech, :required => true %>
                </div>
              </div>

              <div class="col-5 col-right padding-small-left">
                <div class="form-select">
                  <label for="nivel">Nível*</label>
                  <% options = options_for_select([['Básico', 1], ['Intermediário', 2], ['Avançado', 3]], @language.level)%>
                  <%= f.select(:level, options) %>
                </div>
              </div>
            </div>

            <div class="form-submit text-center">
              <%= f.hidden_field :id %>
              <%= f.submit "Salvar idioma", :class => "btn btn-blue" %>
            </div>
          </fieldset>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Idiomas Salvos</h2>

          <div class="display-small-scroll scroll">
            <ul class="display-list">
              <% @candidate.languages.each do |language| %>
              <li class="display-item">
                <section>
                  <h3 class="display-title"><%= language.speech%></h3>
                  <p><%= name_level language.level %></p>

                  <div class="display-btn">
                    <%= link_to "Editar", edit_languages_path(language.id), :class => "btn btn-blue"%>
                    <%= link_to "Excluir", destroy_languages_path(language.id), :method => :delete, data: {confirm: "Deseja realmente deletar esta informação?"}, :class => "btn btn-red"%>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-large-bottom">
      <div class="col-6 col-left padding-right">
        <%= form_for @professional_experience, :class => 'form-curriculo', :validate => true do |f| %>
          <fieldset>
            <legend class="page-caption">Experiência Profissional</legend>

            <div class="form-input">
              <%= f.label :name_company, "Empresa" %>
              <%= f.text_field :name_company, :required => true %>
            </div>

            <div class="form-input">
              <%= f.label :last_post, "Último cargo" %>
              <%= f.text_field :last_post, :required => true %>
            </div>

            <div class="row">
              <div class="col-6 col-left padding-small-right">
                <div class="form-input">
                  <%= f.label :start_date, "Data início" %>
                  <%= f.text_field :start_date, :class => "date", :value => @professional_experience.start_date.try(:strftime,("%d/%m/%Y")), :required => true%>
                </div>
              </div>

              <div class="col-6 col-right padding-small-left">
                <div class="form-input">
                  <%= f.label :finish_date, "Data início" %>
                  <%= f.text_field :finish_date, :class => "date", :value => @professional_experience.finish_date.try(:strftime,("%d/%m/%Y")) %>
                </div>
              </div>
            </div>

            <div class="row margin-bottom">
              <div class="col-6 col-right padding-small-left">
                <div class="form-radio-item">
                  <%= f.label :jobs_current, "Emprego atual?" %>
                  <%= f.check_box :jobs_current %>
                </div>
              </div>
            </div>

            <div class="form-textarea">
              <%= f.label :attributions, "Funções"%>
              <%= f.text_area :attributions %>
            </div>

            <div class="form-submit text-center">
              <%= f.hidden_field :id %>
              <%= f.submit "Salvar experiência profissional", :class => "btn btn-blue" %>
            </div>
          </fieldset>
        <% end %>
      </div>

      <div class="col-6 col-right padding-left">
        <div class="display">
          <h2 class="page-caption">Experiências profissionais Salvos</h2>

          <div class="display-large-scroll scroll">
            <ul class="display-list">
              <% @candidate.professional_experiences.each do |professional_experience| %>
              <li class="display-item">
                <section>
                  <h3 class="display-title"><%= professional_experience.last_post%></h3>
                  <p><%= professional_experience.name_company %></p>
                  <% if professional_experience.jobs_current %>
                  <p>de <%= professional_experience.start_date.try(:strftime,("%d/%m/%Y")) %> até o momento
                  <% else %>
                  <p>de <%= professional_experience.start_date.try(:strftime,("%d/%m/%Y")) %> à <%= professional_experience.finish_date.try(:strftime,("%d/%m/%Y")) %></p>
                  <% end %>

                  <div class="display-text">
                    <p>
                      <%= professional_experience.attributions %>
                    </p>
                  </div>

                  <div class="display-btn">
                    <%= link_to "Editar", edit_professional_experiences_path(professional_experience.id), :class => "btn btn-blue"%>
                    <%= link_to "Excluir", destroy_professional_experiences_path(professional_experience.id), :method => :delete, data: {confirm: "Deseja realmente deletar esta informação?"}, :class => "btn btn-red"%>
                  </div>
                </section>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= form_for @candidate, :class => 'form-curriculo' do |f| %>
      <fieldset class="margin-bottom">
        <legend class="page-caption">Mini Currículo*</legend>

        <div class="form-textarea">
          <%= f.label :mini_curriculum, "Mini Curriculo", :class => "hidden" %>
          <%= f.text_area :mini_curriculum,
                          :required => true,
                          :placeholder => "Descreva aqui, de forma resumida, seu perfil, experiências e habilidades profissionais."
          %>
        </div>
      </fieldset>

      <fieldset class="margin-bottom">
        <legend class="page-caption">Nível de Confidencialidade</legend>

        <div class="row">
          <div class="col-6 col-left padding-right">
            <div class="form-radio-item">
              <label for="publico">público</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente cumque, in laboriosam. Blanditiis, excepturi at,
                officia cumque laborum eligendi cupiditate, eaque, similique
                voluptate facilis quos alias ut esse repellat sit!
              </p>
              <%= f.radio_button :is_public, true, :required => true %>
            </div>
          </div>

          <div class="col-6 col-right padding-left">
            <div class="form-radio-item">
              <label for="confidencial">confidencial</label>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente cumque, in laboriosam. Blanditiis, excepturi at,
                officia cumque laborum eligendi cupiditate, eaque, similique
                voluptate facilis quos alias ut esse repellat sit!
              </p>
              <%= f.radio_button :is_public, false, :required => true %>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-submit-container">
        <div class="page-slogan margin-bottom">
          <div class="page-slogan-text">
            <p>
              Muito bem, seu curriculo esta quase pronto! <br>
              Basta apenas concluir clicando no botão abaixo para <br>
              poder usufruir livremente de nossos serviços, mas <br>
              porque pagar com um post?
            </p>
            <p>
              Simples, para nos ajudar a manter nossos serviços <br>
              gratuitos. =)
            </p>
          </div>
        </div>

        <div class="form-radio">
          <div class="form-radio-item form-inline">
            <label for="termos_de_uso">*li e concordo com os <%= link_to "Termos de uso", terms_path %></label>
            <%= f.check_box :term, {:required => true}, "true", "false" %>
          </div>
        </div>

        <% if !@candidate.share_facebook %>
        <div class="form-radio">
          <div class="form-radio-item form-inline">
            <label for="termos_de_uso">*Pagar com um post no facebook <a href="#">Saiba mais.</a></label>
            <%= f.check_box :share_facebook, {:required => true}, "true", "false" %>
          </div>
        </div>
        <% end %>

        <%= link_to 'Share on Facebook', '#', :class => "fb_share"  %>
        <%= facebook_share_once %>

        <%= f.hidden_field :id %>
        <%= f.submit "Concluir currículo e pagar com um post", :class => "btn btn-facebook" %>
      </div>
    <% end %>
  </div>
</main>
