<main id="main">
  <div class="grid padding-top">
    <div class="page-title-container">
      <h1 class="page-title">
        <span class="nc-min-icon nc-min-recruiters"></span>
        <span>Meu Perfil</span>
      </h1>
    </div>

    <div class="sidebar col-4 col-left">
      <section class="profile-nav-container">
        <h2 class="profile-nav-title">Meu Perfil</h2>
        <ul class="profile-nav">
          <li><a class="btn btn-link" href="#">Minhas Vagas</a></li>
          <li><a class="btn btn-link" href="#">Editar Currículo</a></li>
          <li><a class="btn btn-link" href="#">Gerar pdf do currículo</a></li>
        </ul>
      </section>
    </div>

    <div class="col-8 col-right padding-left">
      <article class="profile">
        <div class="profile-header margin-bottom">
          <div class="profile-avatar-container">
            <figure class="profile-avatar">
              <%= image_tag @candidate.avatar("thumb") %>
            </figure>
          </div>
          <div class="profile-info">
            <h1 class="profile-title"><%= @candidate.full_name %></h1>

            <div class="profile-text margin-small-bottom">
              <p><a href="#"><%= @candidate.user.email %><</a></p>
              <p><span class="profile-item-caption">Sexo:</span> <%= @candidate.is_male ? "Masculino" : "Feminio" %> </p>
              <p><span class="profile-item-caption">Data de nascimento:</span> <%= @candidate.birth_date.strftime("%d/%m/%Y") %></p>
              <p><span class="profile-item-caption">Endereço:</span> <%= @candidate.street %></p>
            </div>

            <div class="row margin-small-bottom">
              <div class="profile-text col-4 col-left">
                <p><span class="profile-item-caption">Número:</span> <%= @candidate.number %></p>
              </div>

              <div class="profile-text col-4 col-left">
                <p><span class="profile-item-caption">Complemento:</span> <%= @candidate.complement %></p>
              </div>

              <div class="profile-text col-4 col-right">
                <p><span class="profile-item-caption">CEP:</span> <%= @candidate.zip_code %></p>
              </div>
            </div>

            <div class="row">
              <div class="profile-text col-6 col-left">
                <p><span class="profile-item-caption">Telefone:</span> <%= @candidate.home_phone %></p>
                <p><span class="profile-item-caption">Telefone:</span> <%= @candidate.mobile_phone %></p>
              </div>

              <div class="profile-text col-6 col-right">
                <p><span class="profile-item-caption">Telefone:</span> <%= @candidate.message_phone %></p>
                <p><span class="profile-item-caption">Telefone:</span> <%= @candidate.commercial_phone %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Objetivos Profissionais</h2>
            <ul class="profile-list">
              <li>
                <p><span class="profile-list-caption">Área Profissional:</span>
                <% @candidate.professional_areas.each do |professional_area| %>
                <%= professional_area.name << "; " %>
                <% end %>
                </p>
                <p><span class="profile-list-caption">Nível Hierárquico:</span>
                <% @candidate.hierarchical_levels.each do |hierarchical_level| %>
                <%= hierarchical_level.name << "; " %>
                <% end %>
                </p>
                <p><span class="profile-list-caption">Último Salário:</span> R$ <%= @candidate.last_salary %></p>
                <p><span class="profile-list-caption">Pretenção Salarial:</span> <%= @candidate.salary_to_be_agreed ? "à combinar" :  @candidate.salary_pretension%></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Formação Acadêmica</h2>
            <ul class="profile-list">
              <% @candidate.academic_trainings.each do |academic_training| %>
              <li>
                <h3 class="profile-list-title"><%= academic_training.schooling.name %></h3>
                <p><span class="profile-list-caption">Curso:</span> <%= academic_training.name_of_course %></p>
                <p><span class="profile-list-caption">Instituição:</span> <%= academic_training.institution %></p>
                <p><span class="profile-list-caption">Início:</span> <%= academic_training.start_date.strftime("%d/%m/%Y") %></p>
                <p><span class="profile-list-caption">Conclusão:</span> <%= academic_training.finish_date.strftime("%d/%m/%Y") %></p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Cursos Extras e Eventos</h2>
            <ul class="profile-list">
              <% @candidate.extra_courses.each do |extra_course| %>
              <li>
                <h3 class="profile-list-title"><%= extra_course.name %></h3>
                <p><span class="profile-list-caption">Local:</span> <%= extra_course.local %></p>
                <p><%= extra_course.description %></p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Idiomas</h2>
            <ul class="profile-list">
              <% @candidate.languages.each do |language| %>
              <li>
                <h3 class="profile-list-title"><%= language.speech %></h3>
                <p><span class="profile-list-caption">Nível:</span> <%= name_level language.level %></p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Experiência Profissional</h2>
            <ul class="profile-list">
              <% @candidate.professional_experiences.each do |professional_experience| %>
              <li>
                <h3 class="profile-list-title"><%= professional_experience.name_company %></h3>
                <p><span class="profile-list-caption">Último Cargo:</span> <%= professional_experience.last_post %></p>
                <p><span class="profile-list-caption">Início:</span> <%= professional_experience.start_date.strftime("%d/%m/%Y")%></p>
                <p><%= professional_experience.jobs_current ? "Emprego atual" : "<span class='profile-list-caption'>Saída:</span> ".html_safe << professional_experience.finish_date.strftime("%d/%m/%Y")%></p>
                <p>
                  <div class="profile-list-caption">Atribuições e realizações do cargo:</div>
                <p>
                  	<%= professional_experience.attributions %>
                </p>
                </p>
              </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="profile-item margin-large-bottom">
          <div class="margin-bottom">
            <h2 class="profile-caption">Mini Currículo</h2>
            <div class="profile-text">
              <p>
                <%= @candidate.mini_curriculum %>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</main>
