<main id="main">
  <div class="grid padding-top">
    <div class="page-title-container">
      <h1 class="page-title">
        <span class="nc-min-icon nc-min-recruiters"></span>
        <span>Cadastro do Recrutador</span>
      </h1>
    </div>

    <div class="row margin-large-bottom">
      <%= form_for @company, :class => 'form-curriculo' do |f| %>
        <div class="col-6 col-left padding-right">
          <span class="page-caption">Dados da Empresa</span>

          <div class="form-input">
            <%= f.label :fancy_name, "Nome fanstasia" %>
            <%= f.text_field :fancy_name, :required => true %>
          </div>

          <div class="form-input">
            <%= f.label :corporate_name, "Nome da empresa" %>
            <%= f.text_field :corporate_name, :required => true %>
          </div>

          <div class="row">
            <div class="col-6 col-left padding-small-right">
              <div class="form-input">
                <%= f.label :cnpj, "CNPJ" %>
                <%= f.number_field :cnpj, :required => true %>
              </div>
            </div>

            <div class="col-6 col-right padding-small-left">
              <div class="form-select">
                <%= f.label :type_company_id, "*Tipo empresa" %>
                <%= f.select :type_company_id, TypeCompany.all.collect {|p| [ p.name, p.id ] }, :required => true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8 col-left padding-small-right">
              <div class="form-input">
                <%= f.label :street, "Rua" %>
                <%= f.text_field :street, :required => true %>
              </div>
            </div>

            <div class="col-4 col-right padding-small-left">
              <div class="form-input">
                <%= f.label :number, "Número" %>
                <%= f.number_field :number, :required => true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-left padding-small-right">
              <div class="form-select">
                <%= f.label :city_id, "*Cidade" %>
                <%= f.select :city_id, City.all.collect {|p| [ p.name, p.id ] }, :required => true %>
              </div>
            </div>

            <div class="col-6 col-right padding-small-left">
              <div class="form-input">
                <%= f.label :phone, "Telefone" %>
                <%= f.text_field :phone, :required => true, :class => "phone" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-left padding-small-right">
              <div class="form-input">
                <%= f.label :facebook, "Facebook" %>
                <%= f.text_field :facebook, :required => true %>
              </div>
            </div>

            <div class="col-6 col-right padding-small-left">
              <div class="form-input">
                <%= f.label :twitter, "Twitter" %>
                <%= f.text_field :twitter, :required => true %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-left padding-small-right">
              <div class="form-input">
                <%= f.label :email, "E-mail" %>
                <%= f.text_field :email, :required => true %>
              </div>
            </div>

            <div class="col-6 col-right padding-small-left">
              <div class="form-input">
                <%= f.label :website, "WebSite" %>
                <%= f.text_field :website, :required => true %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-right padding-left">
          <div class="form-radio">
            <span class="page-caption">Ramos de Atividade</span>

            <div class="row">
              <ul class="checkboxes_curriculum">
              <%= f.collection_check_boxes(:branch_operation_ids, BranchOperation.all, :id, :name) do |b|%>
              <% '<li>'.html_safe << b.label { b.check_box << b.text } << '</li>'.html_safe %>
              <% end %>
              </ul>
            </div>
          </div>

          <span class="page-caption">Localização</span>

          <div class="row">
            <div class="col-6 col-left padding-small-right">
              <div class="form-input">
                <%= f.label :lg, "Longitude" %>
                <%= f.text_field :lg %>
              </div>
            </div>

            <div class="col-6 col-right padding-small-left">
              <div class="form-input">
                <%= f.label :lt, "Latitude" %>
                <%= f.text_field :lt %>
              </div>
            </div>
          </div>

          <span class="page-caption">Histórico da Empresa</span>

          <div class="form-textarea">
            <%= f.label :description, "Histórico da empresa" %>
            <%= f.text_area :description, :required => true %>
          </div>

          <div class="form">
            <%= f.label :logo, "Logo Marca" %>
            <%= f.file_field :logo %>
          </div>

        </div>
      </div>

      <div class="form-submit-container">
        <%= f.submit "Salvar dados da empresa", :class => "btn btn-blue" %>
      </div>
    <% end %>
  </div>
</main>
