<div class="logged">
  <div class="grid-relative">
    <div class="logged-info">
      <span class="logged-avatar">
        <% if current_user.candidate.try(:image) %>
          <%= link_to show_curriculum_candidate_path do %>
          <%= image_tag current_user.candidate.avatar %>
          <% end %>
        <% elsif current_user.company.try(:logo)%>
          <%= link_to company_path do %>
          <%= image_tag current_user.company.logo_marca("thumb_min") %>
          <% end %>
        <% end %>
      </span>
      <span class="logged-name"><%= current_user.name %></span>
    </div>

    <div class="logged-nav">
      <ul>
        <% if current_user.admin? %>
        <li><%= link_to "Admin", rails_admin_path, :class => "btn btn-link" %></li>
        <% end %>
        <% if current_user.is_company? %>
        <li><%= link_to "Perfil empresa", company_path, :class => "btn btn-link"%></li>
        <li><%= link_to "Minhas Vagas", vacancies_path, :class => "btn btn-link"%></li>
        <% else %>
        <li><%= link_to "Currículo", show_curriculum_candidate_path, :class => "btn btn-link" %></li>
        <% end %>
        <li><a class="btn btn-link" href="#">Trocar senha</a></li>
        <li>
          <%= link_to "Sair", destroy_user_session_path, :method => :delete, :class => "btn btn-link" %></li>
      </ul>
    </div>
  </div>
</div>
